/* Estilo para la imagen dentro de la tarjeta */
.cardImage {
  width: 100%;
  height: 20rem;
  padding: 15px;
  border-radius: 1.9em;
}

/* Estilo para el texto dentro de la tarjeta */
.cardText {
  text-align: center;
  margin-top: 8px;
}
