.loginContainer {
  display: flex;
  height: 100vh;
  background-image: url("https://www.hiberus.com/sites/default/files/styles/content_full/public/2019-10/04.%20Logistica%20y%20transporte_0.jpg?itok=PfO9oVD-");
  background-size: cover;
  background-position: center;
}

.formContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.596);
  padding: 20px;
}

.form {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.596);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 34.2em;
  padding: 1.2em;
  position: relative;
}

.backButton{
  align-self: flex-start;
  position: relative;
  left: 0;
  right: 0;
}
