/* .cardContainerStyle {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px; 
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-left: 15px;
}  */

/* .cardContainerStyle {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1.5rem;
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
} */

.cardContainerStyle {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1rem;
  border-radius: 1rem;
  gap: 2rem;
  margin-top: 2.5em;
}

.cardStyle {
  width: 100%;
  max-width: 30em;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cardStyle:hover {
  transform: scale(1.03);
  transition-duration: 0.4s;
}

/* Media query para dispositivos medianos (md) */
@media (min-width: 768px) {
  .cardContainerStyle {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

/* Media query para dispositivos grandes (lg) */
@media (min-width: 1024px) {
  .cardContainerStyle {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

/* Media query para dispositivos extra grandes (xl) */
@media (min-width: 1280px) {
  .cardContainerStyle {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

/* ANIMACIONES */

.scaleUpBottom {
  animation: scaleUpBottom 0.9s;
}
@keyframes scaleUpBottom {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.scaleUpBottom2 {
  animation: scaleUpBottom2 1.5s;
}
@keyframes scaleUpBottom2 {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.scaleUpBottom3 {
  animation: scaleUpBottom3 2s;
}
@keyframes scaleUpBottom3 {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.scaleUpBottom4 {
  animation: scaleUpBottom4 2.5s;
}
@keyframes scaleUpBottom4 {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.scaleUpBottom5 {
  animation: scaleUpBottom5 3s;
}
@keyframes scaleUpBottom5 {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
